<div class="welcome">
Welcome to TickGet! <br>
We are a site dedicated to easy and safe transactions for all your ticket needs! Buy, Sell, or trade tickets for that cash money or other goods! <br>

<p>New to the site? <%= link_to 'Create a New Account', sign_up_path %>
	</p>
<p>Already have an account? <%= link_to "Log In now!", sign_in_path %></p>


</div>