
<title>Tickget</title>


<body>

<head>
  <title>Tick.Getr</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
  <link type="text/css" rel="stylesheet" href="style.css"/>
  <script type="text/javascript" src="script.js"></script>
  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Signika|Cuprum' rel='stylesheet' type='text/css'>
</head>
<body>
  

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Tick.Get Sign  -->
    <div class="frontTicket"><strong>Tick.Get</strong></div>
    <div class="welcomeintro">
    Buy, trade, & sell your concert tickets
    </div>
    <!-- SEARCH -->
  
  <p id="search">
    <button type="button" class="btn btn-default btn-lg" ><%= link_to 'New Account', sign_up_path , {:style=>'color:black;'} %></button>
  </p>

   <p id="search2">
    <button type="button" class="btn btn-default btn-lg"><%= link_to 'Log In Now', sign_in_path , {:style=>'color:black;'} %></button>
  </p>
  
    <ol class="carousel-indicators">
      <li data-target="#item-1" data-slide-to="0" class="active"></li>
      <li data-target="#item-2" data-slide-to="1"></li>
      <li data-target="#item-3" data-slide-to="2"></li>
      <li data-target="#item-4" data-slide-to="3"></li>
      <li data-target="#item-5" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active item-1">
        <img src="http://www.pomona.edu/news/2012/10/images/taylor-swift-purple-large.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item item-2">
        <img src="http://davidsimchock.com/wp-content/gallery/crowd-shots/music-crowd-01.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item item-3">
        <img src="http://jefflombardo.com/wp-content/uploads/2013/05/EDC-Las-Vegas-2013-Main-Stage.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>

       <div class="item item-4">
        <img src="http://blog.talenthouse.com/wp-content/uploads/2013/06/10304_10151039491502461_854044338_n.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>

      <div class="item item-5">
        <img src="https://farm3.staticflickr.com/2382/2045735047_b864159e51_b.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

<div class="welcome">



</div>
</body>

 </div>

</body>