
<head>
  <title>New User sign in</title>
  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>
<div>
<a id="userNew"><img src="https://s3.amazonaws.com/uploads.hipchat.com/140618/1018352/15kY6T6w8miBfii/concert.jpg" ></a>
<div class="userForm">
<%= render 'form' %>
<%= link_to 'Back', first_path %>
<p>Already have an account? <%= link_to "Log In now!", sign_in_path %></p>
</div>
</div>