/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Signika|Cuprum);

body {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/140618/1018352/15kY6T6w8miBfii/concert.jpg");
    background-size: 200px;
	background-size: 200px 100px;
	background-size: 200px 100px, 400px 200px;
	background-size: auto 200px;
	background-size: 50% 25%;
	background-size: contain;
	background-size: cover;
    background-repeat: no-repeat;
}

.buttonOne {
    padding: 10px 15px;
    margin: 20px;
    border: 0 none;
    border-radius: 3px;
    position: absolute;
    text-align: center;
    z-index: 1;
    opacity: .80;
    margin-left: 50%;
}

.buttonTwo {
    border: 0 none;
    border-radius: 3px;
    text-align: center;
    opacity: .80;


}


.title {
	font-family: 'Josefin Sans', 'Open Sans';
	font-size: 60px;
	text-align: center;
	font-weight: bold;


}
 .ticketTile {
 	font-family: 'Josefin Sans';
 	font-size: 20px;
 	background-color: white;
 	opacity: .8;
    border-color: black;
    display: inline-block;
    background-color: #F7F2F2;
    border: 1px solid gray;
    color: #2e2322;
    overflow: hidden;
    width: auto;
    height: auto;
    margin:5px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #888888;
    padding: 3px;
    padding-bottom: 1px;
    

    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
 }

 .allTiles {
    margin: 0px;
    background-size: 120%;
    text-align: center;

 }


 .ticketintro {
 	font-family: 'Josefin Sans';
 	font-size: 30px;
	text-align: center;
	font-weight: bold;
    color: black;

 }

 .navbar-brand {
 	font-family: 'Cuprum', 'sans-serif';
 	font-size: 40px;
 }


.newtix {
	font-family: "Titillium Web", helvetica;
	position: absolute;
	background-color: rgba(255,255,255, .0);
	text-align: center;
	z-index: 1;
	margin-left: 37%;
	margin-top: 10%;
	border-radius: 30px;
	border: solid;
	font-size: 1em;
	padding: 1.5em;
}

.editTickets {
    font-family: "Titillium Web", helvetica;
    position: absolute;
    background-color: rgba(255,255,255, .0);
    text-align: center;
    z-index: 1;
    margin-left: 37%;
    margin-top: 10%;
    border-radius: 30px;
    border: solid;
    font-size: 20px;
    padding: 1.5em;

}
.showTickets {
    font-family: 'Cuprum', 'sans-serif';
    position: absolute;
    background-color: rgba(255,255,255, .0);
    text-align: center;
    z-index: 1;
    margin-left: 37%;
    margin-top: 10%;
    border-radius: 30px;
    border: solid;
    font-size: 20px;
    padding: 1.5em;
}


