/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Signika|Cuprum);

body {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/140618/1018352/15kY6T6w8miBfii/concert.jpg");
    background-size: 200px;
	background-size: 200px 100px;
	background-size: 200px 100px, 400px 200px;
	background-size: auto 200px;
	background-size: 50% 25%;
	background-size: contain;
	background-size: cover;
    background-repeat: no-repeat;
}

.buttonOne {
 
    padding: 10px 15px;
    margin: 20px;
    border: 0 none;
    border-radius: 3px;
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-left: 20%;
    margin-top: -1400px;
    opacity: .80;
}

.buttonTwo {
  
    padding: 10px 15px;
    margin: 20px;
    border: 0 none;
    border-radius: 3px;
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-left: -7%;
    margin-top: -1400px;
    opacity: .80;
}


.title {
	font-family: 'Josefin Sans', 'Open Sans';
	font-size: 60px;
	text-align: center;
	font-weight: bold;


}
 .ticket {
 	font-family: 'Josefin Sans';
 }

 .ticketintro {
 	font-family: 'Josefin Sans';
 	font-size: 30px;
	text-align: center;
	font-weight: bold;
    color: black;

 }

 .navbar-brand {
 	font-family: 'Cuprum', 'sans-serif';
 	font-size: 40px;

 }




